// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

@font-face {
  font-family: "CooperHewitt";
  src: url("../../fonts/CooperHewitt/CooperHewitt-Book.eot");
  src: url("../../fonts/CooperHewitt/CooperHewitt-Book.svg");
  src: url("../../fonts/CooperHewitt/CooperHewitt-Book.woff");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "CooperHewitt";
  src: url("../../fonts/CooperHewitt/CooperHewitt-BookItalic.eot");
  src: url("../../fonts/CooperHewitt/CooperHewitt-BookItalic.svg");
  src: url("../../fonts/CooperHewitt/CooperHewitt-BookItalic.woff");
  font-weight: normal;
  font-style: italic;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "CooperHewitt";
  src: url("../../fonts/CooperHewitt/CooperHewitt-Medium.eot");
  src: url("../../fonts/CooperHewitt/CooperHewitt-Medium.svg");
  src: url("../../fonts/CooperHewitt/CooperHewitt-Medium.woff");
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "CooperHewitt";
  src: url("../../fonts/CooperHewitt/CooperHewitt-MediumItalic.eot");
  src: url("../../fonts/CooperHewitt/CooperHewitt-MediumItalic.svg");
  src: url("../../fonts/CooperHewitt/CooperHewitt-MediumItalic.woff");
  font-weight: 600;
  font-style: italic;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "CooperHewitt";
  src: url("../../fonts/CooperHewitt/CooperHewitt-Bold.eot");
  src: url("../../fonts/CooperHewitt/CooperHewitt-Bold.svg");
  src: url("../../fonts/CooperHewitt/CooperHewitt-Bold.woff");
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "CooperHewitt";
  src: url("../../fonts/CooperHewitt/CooperHewitt-BoldItalic.eot");
  src: url("../../fonts/CooperHewitt/CooperHewitt-BoldItalic.svg");
  src: url("../../fonts/CooperHewitt/CooperHewitt-BoldItalic.woff");
  font-weight: 700;
  font-style: italic;
  text-rendering: optimizeLegibility;
}


//Set font variables

$font-family-headers:      'Prohibition', $font-family-sans-serif !important;
$font-family-body:         'CooperHewitt', $font-family-sans-serif !important;
$font-family-accent:       'Prohibition', $font-family-sans-serif !important;

body {
  font-family: $font-family-body;
  font-size: 100% !important;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family-headers;
  letter-spacing: .05em;
}

//Remove borders

.card {
  border: none !important;
}


//Set MSC brand colors
$dark-green:           #00502f;
$light-green:          #00966C;
$lime-green:           #84BD00;
$light-orange:         #C86E41;
$dark-orange:          #BC4526;
$bright-gold:          #FEBB11;
$light-blue:           #0E6890;
$dark-blue:            #023F5A;

$light-gray:           #E3E0E0;
$dark-gray:            #4D5653;
$med-gray:             #6A756D;
$off-black:            #303030;
$off-white:            rgba(0, 0, 0, 0.075);
$white:                #ffffff;

//Set contextual colors
a {
  color: $light-blue;
  text-decoration: none;
}

a:hover {
  color: white;
}

.btn-primary {
  background: $dark-green !important;
  border: $dark-green !important;
}

.btn-primary:hover {
  background: $light-green !important;
  border: $light-green !important;
}

h2 {
  color: $light-green;
}

h3 {
  color: $dark-green;
}

//Styles

.accent {
  font-family: $font-family-accent;
  font-size: 225%;
  color: $light-green;
}

.accordion {
  &.welcome {
    .btn-link {
      display: block;
      color: $light-green;
      padding: 0;

      &:hover,
      &:active,
      &:visited,
      &:focus {
        text-decoration: underline;
      }

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }

      &::after {
        font-family: 'FontAwesome', 'Prohibition';
        content: 'Read Less \f077';
      }

      &.collapsed {

        &::after {
          content: 'Read More \f078';            
        }
      }
    }
  }

  &.ilo {
    .card-header {
      button {
        letter-spacing: .05em;
        padding: .75em 1.5em;
        border-radius: 0;
      }

      &:hover {
        background: none !important;

        button {
          color: $white !important;
          background: $light-green;        

          &:after {
            color: $light-green;
          }
        }
      }
    }
  }

  .card {
    .card-header {
      border-radius: 0;
      background: none;
      color: $light-green;

      &:hover {
        background: $off-white;
        color: $dark-gray;
        cursor: pointer;
      }

      .btn-link {
        display: block;
        color: inherit;

        &:hover,
        &:active,
        &:visited,
        &:focus {
          text-decoration: none;
        }

        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        &::after {
          position: absolute;
          right: 0;
          padding-right: 1em;
          font-family: 'FontAwesome';
          content: '\f068';
        }

        @include media-breakpoint-down(sm) {
          white-space: normal;
          text-align: left;

          &::after {
            position: relative;
          }
        }
      }

      &.collapsed {
        .btn-link {
          &::after {
            content: '\f067';           
          }
        }
      }
    }
  }
}

.buffer {
  background: $dark-green;
  margin: 0 0 2em 0;

  .btn-special {
    font-family: $font-family-headers;
    font-size: 100%;
    padding: 1em 2em;
    border-radius: 0;
    background: $dark-orange;
    color: $white;

    &:hover {
      background: $light-orange;
    }
  }
}

.card-columns {
  margin-top: 2em;

  @include media-breakpoint-down(md){
    columns: 1;
  }

  .card {
    border-radius: 0;
    background: $off-white;
    font-size: 85%;

    &.featured {
      color: $white;
      background: $light-green;

      .card-footer {
        p {
          background: $dark-gray;
          color: $bright-gold;
        }
      }
    }

    .card-title {
      font-size: 125%;
      padding-bottom: 1em;
      border-bottom: 1px solid $bright-gold;
    }

    .card-footer {
      text-transform: uppercase;
      border-top: none;
      background: none;

      p {
        font-family: $font-family-headers;
        display: inline-block;
        padding: .5em;
        margin-bottom: 0;
        background: $bright-gold;
        color: $dark-gray;
      }
    }

    .card-img,
    .card-img-top,
    .card-img-bottom {
      border-radius: 0;
    }

    .list-group {
      background: none;
      .list-group-item {
        background: none;

        &:first-child {
          border-top: none;
        }
      }
    }
  }
}

.card-alt {
  &.card {
    border-radius: 0;
    color: $med-gray;
    background: $off-white;
    text-align: center;

    &:hover {
      background: $light-gray;
    }

    .card-header {
      background: none;
      border-bottom: 1px solid $light-green;
      margin: 0 20px;

      .card-title {
        font-size: 95%;
        display: inline-block;
        padding: .75em 1.5em;
        text-align: center;
        letter-spacing: .1em;
        background: $light-green;
        color: $white;
      }
    }

    p {
      &.lead {
        font-weight: 600;
        font-style: italic;
      }
    }

    .card-footer {
      background: none;
      border-top: 1px solid $light-green;
      margin: 0 20px;
    }
  }
}

.dropdown-toggle::after {
  content: none;
}

.jumbotron {

  @include media-breakpoint-down(sm) {
    background-image: 
    linear-gradient(
      rgba($off-black, 0.75),
      rgba(darken($dark-green, 15%), 0.75)
      ),
    url('../../img/jumbo.png');
  }
  @include media-breakpoint-up(md) {
    background-image: 
    linear-gradient(
      rgba($dark-gray, 0.55),
      rgba(darken($light-orange, 15%), 0.35)
      ),
    url('../../img/jumbo.png');
  }
  background-position: center center;
  background-size: cover;
  text-align: center;
  margin-bottom: 0;

  .brand {
    margin-top: -2em;
    max-width: 20%;
    filter: drop-shadow(1px 1px 1px $off-black);

    @include media-breakpoint-down(lg){
      text-align: center;
      max-width: 100%;
    }

    @include media-breakpoint-down(sm){
      margin-top: 0;
    }
    
  }

  .title {
    display: inline-block;
    margin: 0 auto;

    .page-title {
      color: $white;
      text-shadow: 1px 1px 1px $off-black;
      text-align: center;
      font-size: 8vw;
      padding: 0;
      margin: 0;
    }

    .page-year {
      display: inline;
      background: $light-green;
      
      color: $white;  
      font-weight: bold;
      letter-spacing: .1em;

      @include media-breakpoint-up(xl){
        padding: .5em;
        margin: .5em 0;
        float: right;
        font-size: 175%;
      }

      @include media-breakpoint-down(lg){
        position: relative;
        top: 25px;
        padding: .75em;
        text-align: center;
        font-size: 125%;
      }

      @include media-breakpoint-down(sm){
        display: block;
        font-size: 3vw;
        padding: .25em;
        top: 15px;
      }
    }
  }
}

.priorities {
  &.list-group {
    .list-group-item {

      border: none;
      border-top: 1px solid $light-gray;

      &:first-child {
        border-radius: 0;
        border-top: none;
      }

      &:hover {
        z-index: 0;
      }
    }
  }
}

.pullquote {
  border-left: 10px solid $dark-green;
  padding-left: 20px;
}

.nav-pills {
  border-left: 1px solid $light-gray;

  .nav-link {
    border-radius: 0;
    border-bottom: 1px solid $light-gray;
    color: $dark-gray;

    &.active {
      background: none;
      border-left: 5px solid $bright-gold;
      color: $dark-gray;
    }

    &:hover {
      background: none;
      border-left: 5px solid $bright-gold;
      color: $dark-gray;
      transition: all ease 0.25s;
    }

    &:last-child {
      border-bottom: none;
    }

    b {
      //text-transform: uppercase;
      font-family: $font-family-headers;
      font-size: 110%;
      letter-spacing: .05em;
    }
  }
}

.nav-tabs {
  border-bottom: 5px solid $dark-green;

  .nav-item {
    .nav-link {
      font-family: $font-family-headers;
      letter-spacing: .05em;
      border: none !important;
      color: $dark-green;

      &.active {
        border-radius: 0;
        background: $dark-green;
        color: white;
      }

      &:hover {
        color: $lime-green;
      }
    }
  }
}

.table {
  tr {
    &:first-child {
      td {
        border-top: none;
      }
    }

    td {
      vertical-align: bottom;
    }

    b {
      font-family: $font-family-headers;
      font-size: 110%;
      color: $light-green;
    }
  }
}

//Secondary Nav

#secondary-nav {
  .navbar-toggler-icon {
    color: $white;
    font-size: 120%;
  }

  @include media-breakpoint-up(lg){

    &.navbar {
      background-color: $dark-green;
      font-size: 90%;

      a {
        color: $white;
        text-decoration: none;

        i {
          position: relative;
          top: -3px;
          font-size: 60%;
        }

        &:hover {
          color: $light-gray;

          > i {
            top: -4px;
            color: $bright-gold;
          }
        }
      }

      .social-icons {

        ul {
          margin:0;
          padding: 0;

          li {
            padding: 0;
            margin: 0em .3em;

            a {

              i {
                font-size: 90%;
              }

              &:hover {

                > i {
                  top: -3px;
                  color: $light-gray;
                }
              }
            }
          }
        }
      }

      .dropdown:hover {
        .dropdown-menu{
          display: block;
        }
      }

      .dropdown-menu {
        border-radius: 0 !important;
        padding: 0;
        min-width: 200px;
        border: 1px solid $light-gray;

        .dropdown-item {
          font-family: $font-family-headers;
          letter-spacing: initial;
          padding: 15px;
          border-bottom: 1px solid $light-gray;

          a {
            color: $dark-gray;
            position: relative;
            left: 0;
          }

          &:hover {
            border-left: 5px solid $bright-gold;
            transition: all 0.2s ease;
            background: none;

            a {
              left: 3px;
              transition: all 0.2s ease;
            }
          }
        }
      }
    }
  } 

  @include media-breakpoint-down(md){
    &.navbar {
      background-color: $dark-green;

      .social-icons {
        ul {
          margin:0;
          padding: 0;

          li {
            padding: 0;
            margin: 0em .5em;

            a {
              color: $white;

              i {
                font-size: 120%;
              }

              &:hover {

                > i {
                  color: $light-gray;
                }
              }
            }
          }
        }
      }

      .navbar-nav {
        font-family: $font-family-headers;

        .nav-item {
          font-size: 125%;
          border-bottom: 1px solid darken($dark-green, 5%);

          &:hover {
            color: $light-gray;
          }

          &:last-child {
            border: none;
          }

          .nav-link {
            color: $white;

            > i {
              display: none;
            }
          }
        }

        .dropdown-menu {
          background-color: $dark-green;
          border: none;

          .dropdown-item {
            font-size: 125%;

            &:hover {
              background: none;
            }

            a {
              color: $white;

              &:before {
                font-family: 'FontAwesome';
                font-size: 75%;
                content: '\f054 \0020';
              }

              &:hover {
                color: $light-gray;
                background: none;
                text-decoration: none;
              }
            }
          }
        }
      }

    }
  }
}

//Footer

footer {
  background-color: $off-black;
  color: $white;
  padding: 5em 0;
  font-size: 95%;

  .footer-title {
    font-family: $font-family-body;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 95%;
    letter-spacing: 0;
    margin-bottom: 0;
  }

  .quick-links {
    font-size: 140%;
    padding: 0 0 .75em 0;
    display: block;
    border-bottom: .5px solid $white;
    color: $white;
    margin-top: 2em;
  }

  a {
    color: $white;
  }

  ul {
    li {
      margin: .25em 0;
    }
  }

  .social-icons {
    font-size: 175%;
  }

  .subfooter {
    width: 100%;
    border-top: 1px solid $white;
    padding: 2em 0;
    font-size: 85%;

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}



